.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100px;
    border-bottom: 2px solid rgb(207, 207, 207);
}
.left_row{
    width: 200px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}
.middle_row{
    flex: 2;
    margin-left: 100px;
    margin-right: 300px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right_row{
    width: 200px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Hamburger{
    height: 24px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 25px;
}
.youtube-logo{
    height: 20px;
}
.search_box{
    height: 40px;
    flex: 1;
    width: 0px;
    min-width: 0px;
    border: 1px solid rgb(236, 233, 233);
    
}
.search{
    height: 20px;
}
.botton_search{
    height: 44px;
    width: 64px;
    border-radius: 2px;
    margin-left: -2px;
    border: 1px solid rgb(236, 233, 233);

    
}
.voice-search-icon{
    height: 35px;
}
.botton_voice{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 15px;
}
.upload{
    height: 30px;
}
.youtube-apps{
    height: 30px;
}
.notifications{
    height: 30px;
}
.signin{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}